coloredlogs==15.0.1
ddddocr==1.4.7
flatbuffers==22.9.24
humanfriendly==10.0
mpmath==1.2.1
numpy==1.23.4
onnxruntime==1.12.1
opencv-python-headless==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==4.21.8
pyaes==1.6.1
pyasn1==0.4.8
pyparsing==3.0.9
PySocks==1.7.1
rsa==4.9
sympy==1.11.1
Telethon==1.25.4
